@use "../variables";

#questions {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  min-height: 100vh;

  .questions-wrapper {
    font-size: 3vmin;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    div {
      padding: 0.5rem;
    }

    .done-questions {
      z-index: 101;
    }

    .questions-list {
      border-bottom: 1px solid gray;
      position: relative;

      .topic-name-absolute {
        opacity: 0.7;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 100;
        button {
          font-size: 0.8vw;
        }
      }

      .copy-button {
        padding: 0 0.4rem;
        position: absolute;
        z-index: 100;
        width: 100px;
        font-size: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        img {
          width: 1rem;
        }

        &.copy-question {
          right: 20px;
          top: 20px;
        }

        &.copy-answer {
          bottom: 20px;
          right: 20px;
        }
      }
    }

    .question {
      border-radius: 1rem;
      cursor: pointer;
      color: var(--info-color);
      background-color: var(--primary-color);
      background-image: linear-gradient(
        12deg,
        var(--primary-color),
        var(--secondary-color)
      );
      padding-left: 8rem;
      padding-right: 8rem;

      &:hover {
        filter: drop-shadow(8px 8px 4px rgb(73, 69, 69));
      }
    }

    .answer {
      color: var(--success-color);
      display: none;
      position: relative;
    }

    .show-answer {
      .answer {
        display: block;
        font-size: 0.8vw;
        text-align: left;
      }
    }
  }

  & > div {
    flex: 1 1 100%;
    padding: 0.5rem;
  }

  .questions-pagination-wrapper {
    position: sticky;
    max-height: 5vh;
    min-height: 5vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: var(--background-color);

    .pagination-active {
      color: var(--info-color);
    }

    ul {
      display: flex;
      list-style: none;
      align-items: center;
      li {
        width: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          width: 50%;
          border-radius: 0.5rem;
          cursor: pointer;
        }

        &:first-child,
        &:last-child {
          width: 8vw;
          a {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: variables.$window-size-breakpoint-x-large) {
  #questions {
    .questions-wrapper {
      div {
        padding: 3rem;
        font-size: 2vw;
      }

      .questions-list {
        .topic-name-absolute {
          left: 50px;
          top: 40px;
        }
        .copy-button {
          width: 120px;
          font-size: 1vw;
          img {
            width: 10px;
          }

          &.copy-question {
            top: 80px;
            right: 80px;
          }

          &.copy-answer {
            bottom: 80px;
            right: 80px;
          }
        }
      }

      .question {
        padding-left: 12rem;
        padding-right: 15rem;
      }
    }
  }
}

@media (max-width: variables.$window-size-breakpoint-large) {
  #questions {
    .questions-wrapper {
      div {
        padding: 3rem;
        font-size: 2.5vw;
      }

      .questions-list {
        .topic-name-absolute {
          left: 30px;
          button {
            font-size: 1.2vw;
          }
        }
        .copy-button {
          width: 70px;
          font-size: 0.8vw;
          img {
            width: 10px;
          }

          &.copy-question {
            top: 65px;
            right: 60px;
          }

          &.copy-answer {
            bottom: 65px;
            right: 60px;
          }
        }
      }

      .question {
        padding-left: 12rem;
        padding-right: 15rem;
      }
    }
  }
}

@media (max-width: variables.$window-size-breakpoint-small) {
  #questions {
    .questions-wrapper {
      div {
        padding: 3rem;
        font-size: 3vw;
      }

      .questions-list {
        .topic-name-absolute {
          left: 20px;
          top: 20px;
          button {
            font-size: 1.2vw;
          }
        }
        .copy-button {
          width: 50px;
          font-size: 1vw;
          img {
            width: 10px;
          }

          &.copy-question {
            top: 45px;
            right: 45px;
          }

          &.copy-answer {
            bottom: 45px;
            right: 45px;
          }
        }
      }

      .question {
        padding-left: 12rem;
        padding-right: 15rem;
      }
    }
  }
}
