@use "../variables.scss";

.menu-wrapper-hidden {
  button {
    border-radius: 0;
    width: 100%;
    padding: 0.1rem;
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-180deg);
    /* Firefox */
    -moz-transform: rotate(-180deg);
    /* IE */
    -ms-transform: rotate(-180deg);
    /* Opera */
    -o-transform: rotate(-180deg);
  }
}

#menu {
  display: flex;
  justify-content: space-between;
  border-radius: 0.2rem;
  height: 200px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(81, 80, 80);
  box-shadow: 1px 1px 1px rgb(52, 50, 50);

  .menu-button-hide {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    button {
      width: 100%;
      padding: 0.1rem;
      border-radius: 0;
    }
  }

  div.menu-head {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h1 {
      a {
        background-color: transparent;
      }
    }

    .change-theme {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
    }

    button {
      font-size: 0.8vw;
    }

    .menu-head-buttons {
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;

      .show-done-questions-button {
        flex: 1;
        div.done-questions-menu {
          padding: 3rem;
          z-index: 120;
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 40rem;
          height: 40rem;
          border-radius: 1rem;
          background-color: var(--background-color);
          background-image: linear-gradient(
            to bottom,
            var(--primary-color),
            var(--secondary-color)
          );

          .close-button {
            position: absolute;
            right: 0;
            top: 0;
            button {
              color: red;

              &:hover {
                filter: brightness(150%);
              }
            }
          }
        }
      }

      & button {
        flex: 1 1 15%;
        margin: 0.2rem;
      }
    }
  }

  div.menu-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    padding-right: 32px;
    overflow-x: hidden;

    a {
      overflow: hidden;
      flex: 1 1 15%;
      margin: 0.1rem;
      padding: 0.5rem;
      border-radius: 0.4rem;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        filter: brightness(180%);
        border: 0.1rem solid gray;
      }
    }
  }
}

@media (max-width: variables.$window-size-breakpoint-x-large) {
  #menu {
    &.menu-wrapper {
      height: 120px;

      div.menu-head {
        button {
          font-size: 1vw;
        }

        .menu-head-buttons {
          & > button {
            margin: 0.2rem;
          }
        }
      }

      div.menu-buttons {
        padding: 8px;

        a {
          padding: 0rem;
          flex: 1 1 25%;
          height: 45px;
          font-size: 1.4vw;
        }
      }
    }
  }
}
@media (max-width: variables.$window-size-breakpoint-large) {
  #menu {
    &.menu-wrapper {
      height: 120px;

      div.menu-head {
        flex: 0 0 50%;
        button {
          font-size: 1.5vw;
        }

        .menu-head-buttons {
          & > button {
            margin: 0.2rem;
          }
        }
      }

      div.menu-buttons {
        padding: 8px;

        a {
          flex: 1 1 35%;
          height: 35px;
          font-size: 1.2vw;
          padding: 0.1rem;
        }
      }
    }
  }
}
@media (max-width: variables.$window-size-breakpoint-small) {
  #menu {
    &.menu-wrapper {
      height: 120px;

      div.menu-head {
        h1 {
          font-size: 4vw;
        }
        button {
          font-size: 1.8vw;
        }

        .menu-head-buttons {
          & > button {
            margin: 0.2rem;
          }
        }
      }

      div.menu-buttons {
        padding: 8px;

        a {
          height: 25px;
          font-size: 2.5vw;
        }
      }
    }
  }
}
