@use "../variables.scss";

#menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(109, 109, 109);
  border-radius: 0.2rem;
  height: 200px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(81, 80, 80);
  box-shadow: 1px 1px 1px rgb(52, 50, 50);

  div.menu-head {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    button {
      font-size: 0.8vw;
    }

    .menu-head-buttons {
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      & > button {
        flex: 1 1 15%;
        margin: 0.2rem;
      }
    }
  }

  div.menu-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    overflow-x: hidden;

    a {
      background-color: rgb(23, 18, 18);
      overflow: hidden;
      flex: 1 1 15%;
      margin: 0.1rem;
      padding: 0.5rem;
      border-radius: 0.4rem;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        filter: brightness(180%);
        border: 0.1rem solid gray;
      }
    }
  }
}

@media (max-width: variables.$window-size-breakpoint-x-large) {
  #menu {
    &.menu-wrapper {
      height: 120px;

      div.menu-head {
        button {
          font-size: 1vw;
        }

        .menu-head-buttons {
          & > button {
            margin: 0.2rem;
          }
        }
      }

      div.menu-buttons {
        padding: 8px;

        a {
          padding: 0rem;
          flex: 1 1 25%;
          height: 45px;
          font-size: 1.4vw;
        }
      }
    }
  }
}
@media (max-width: variables.$window-size-breakpoint-large) {
  #menu {
    &.menu-wrapper {
      height: 120px;

      div.menu-head {
        flex: 0 0 50%;
        button {
          font-size: 1.5vw;
        }

        .menu-head-buttons {
          & > button {
            margin: 0.2rem;
          }
        }
      }

      div.menu-buttons {
        padding: 8px;

        a {
          flex: 1 1 35%;
          height: 35px;
          font-size: 1.2vw;
          padding: 0.1rem;
        }
      }
    }
  }
}
@media (max-width: variables.$window-size-breakpoint-small) {
  #menu {
    &.menu-wrapper {
      height: 120px;

      div.menu-head {
        h1 {
          font-size: 4vw;
        }
        button {
          font-size: 1.8vw;
        }

        .menu-head-buttons {
          & > button {
            margin: 0.2rem;
          }
        }
      }

      div.menu-buttons {
        padding: 8px;

        a {
          height: 25px;
          font-size: 2.5vw;
        }
      }
    }
  }
}
