:root {
  --background-color: #595757;
  --text-color: rgba(255, 255, 255, 0.87);
  --button-bg: #1a1a1a;
  --action-items-text-color: #646cff;
  --primary-color: gray;
  --secondary-color: rgb(119, 105, 105);
  --info-color: greenyellow;
  --success-color: lightcyan;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 1vw;
}

.theme--light {
  --background-color: rgba(255, 255, 255, 0.87);
  --text-color: #262626;
  --button-bg: #cecfa2;
  --action-items-text-color: #282828;
  --primary-color: rgb(182, 182, 182);
  --secondary-color: rgb(163, 158, 158);
  --info-color: orange;
  --success-color: green;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  font-weight: 500;
  color: var(--action-items-text-color);
  text-decoration: inherit;
  background-color: var(--button-bg);

  &:hover {
    filter: brightness(150%);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2vw;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1vw;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--action-items-text-color);
  border-radius: 0.1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
