@use "../variables.scss";

label.toggle-button-wrapper {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;

  div {
    margin-top: 0.4vw;
    font-size: 0.8vw;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--button-bg);
    transition: 0.3s;
    border-radius: 30px;

    &:before {
      position: absolute;
      content: "";
      height: 19px;
      width: 21px;
      left: 5px;
      bottom: 3px;
      background-color: var(--action-items-text-color);
      border-radius: 50%;
      transition: 0.3s;
    }
  }

  input:checked + span {
    background-color: #313132;
  }

  input:checked + span:before {
    transform: translateX(29px);
  }
}

@media (max-width: variables.$window-size-breakpoint-x-large) {
  label.toggle-button-wrapper {
    width: 50px;
    height: 20px;

    div {
      font-size: 1.1vw;

      margin-top: 0.2vw;
    }

    span {
      &:before {
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
      }
    }
  }
}
@media (max-width: variables.$window-size-breakpoint-large) {
  label.toggle-button-wrapper {
    width: 40px;
    height: 10px;

    div {
      font-size: 1.1vw;
      margin-top: 0.1vw;
    }

    span {
      &:before {
        height: 8px;
        width: 12px;
        left: -2px;
        bottom: 1px;
      }
    }
  }
}
@media (max-width: variables.$window-size-breakpoint-small) {
  label.toggle-button-wrapper {
    width: 40px;
    height: 10px;

    div {
      margin-top: 0.8vw;
      font-size: 1.4vw;
    }

    span {
      &:before {
        height: 8px;
        width: 12px;
        left: -2px;
        bottom: 1px;
      }
    }
  }
}
